{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block body %}

<div class="row col">
    <h1>Interventions</h1>
</div>


<div class="row col-lg-4 mx-auto">
    {{ form(formIntervention)}}
</div>


<div class="row col" style="padding-bottom: 200px">
  <table class="table">

    <thead class="table-dark">
      <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Date Intervention</th>
        <th scope="col">Description</th>
        <th scope="col">Durée</th>
        <th scope="col">Statut</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>

    <tbody>
      {% for intervention in listeInterventions %}
        <tr>
          <td>{{intervention.id}}</td>
          <td>{{intervention.dateInter| date('d-m-y')}}</td>
          <td>{{intervention.description}}</td>
          <td>{{intervention.duree| date('h:i')}}</td>
          <td>{{intervention.statut}}</td>
          <td>{{intervention.prix}}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}
