{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <h1>Paramètres</h1>


<div class="row col-lg-4 mx-auto">
    {{ form_start(formParametres)}}

        {{form_row(formParametres.nom)}}
        {{form_row(formParametres.prenom)}}
        {{form_row(formParametres.email)}}
        {{form_row(formParametres.adresse)}}
        {{form_row(formParametres.tel)}}

    {{ form_end(formParametres)}}
</div>
{% endblock %}
